@font-face {
  font-family: "Gameboy";
  src: url("../fonts/pokemon_gb-webfont.woff2") format(woff2);
  src: url("../fonts/pokemon_gb-webfont.woff") format(woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #eeeeee;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/backgroundbattle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 650px;
}

.fightdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
  font-family: "Gameboy";
}

.mypokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pokeball {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 0 100px;
}

.adversepokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.selectedpokemon {
  font-size: 0.9rem;
  font-weight: 600;
}

.pokemonadverse {
  font-size: 0.9rem;
  font-weight: 600;
}

.selectedpokemonimg {
  width: 275px;
  height: 275px;
  object-fit: contain;
  background: none;
}

.poke1img {
  position: absolute;
  right: 50px;
  top: 375px;
}

.poke2img {
  position: absolute;
  left: 65px;
  top: 70px;
}

.fightstart {
  text-align: center;
  margin-top: 50px;
  font-size: 0.9rem;
  font-family: "Gameboy";
}

#fightDetailContainer {
  position: relative;
  font-size: 0.8rem;
  font-family: "Gameboy";
  border: 1px solid #000;
  padding: 20px;
  width: 850px;
  text-align: center;
  border-radius: 15px;
  background: rgb(255, 255, 241);
  margin: auto;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

#fightDetail {
  background: none;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#nextStepButton {
  all: unset;
  position: absolute;
  bottom: -10px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  animation: blink 1s infinite;
}

#nextStepButton i {
  font-size: 1.2rem;
  color: #000;
  background: none;
}

button {
  background: transparent;
  border: none;
}
