@font-face {
  font-family: "Gameboy";
  src: url("../fonts/pokemon_gb-webfont.woff2") format(woff2);
  src: url("../fonts/pokemon_gb-webfont.woff") format(woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fightdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
  font-family: "Gameboy";
}

.mypokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokeball {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 0 100px;
}

.adversepokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectedpokemon {
  font-size: 0.9rem;
  font-weight: 600;
}

.pokemonadverse {
  font-size: 0.9rem;
  font-weight: 600;
}

.selectedpokemonimg {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.fightstart {
  text-align: center;
  margin-top: 50px;
  font-size: 0.9rem;
  font-family: "Gameboy";
}

.degatsdiv,
.attaquetour,
.updatepdv,
.kodiv,
.effdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 3px auto;
  height: 50px;
  width: 35%;
  text-align: center;
  background: rgb(255, 255, 239);
  font-family: "Gameboy";
  font-size: 0.8rem;
  padding: 15px;
}

.buttoncontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.buttonstyle1 {
  width: 200px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 1.2rem;
  background: #ffc0c9;
  color: #000;
  cursor: pointer;
  font-family: "Gameboy";
  font-size: 0.8rem;
  transition: 0.3s all ease;
}

.buttonstyle1:hover {
  cursor: pointer;
  background: #ffaab8;
  color: #fff;
}

.buttonstyle2 {
  width: 600px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 1.2rem;
  background: #ffc0c9;
  color: #000;
  cursor: pointer;
  font-family: "Gameboy";
  font-size: 0.8rem;
  transition: 0.3s all ease;
}

.buttonstyle2:hover {
  cursor: pointer;
  background: #ffaab8;
  color: #fff;
}
