*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.liste_pokemon{
    text-align: center;

}

.pokemon_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon_container li {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemon_container li a {
    font-size: 1.3rem;
}