* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: #eeeeee;
  height: 100%;
  box-sizing: border-box;
}

.liste_pokemon h1 {
  text-align: center;
  padding: 25px 0;
}

.pokemon_container {
  margin: 15px auto 0 auto;
  width: 1200px;
  height: auto;
  border-radius: 25px;
  background: #fff;
}

.pokemon_container form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.pokemon_container button {
  all: unset;
  margin: 15px;
}

.pokemon_container .mainblock {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 115px;
}

.pokemon_container.rightblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon_container button:hover {
  cursor: pointer;
}

.pokemon_container li {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eeeeee;
  border-radius: 15px;
  font-size: 1.3rem;
  color: #000;
  height: 100%;
  padding: 15px;
  transition: all 0.3s ease;
}

.pokemon_container button:hover li {
  background: #bdbdbd;
}

.pokemon_container li img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.attackblock {
  border: 1px solid #000;
  font-size: 1.1rem;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
}

#pokemonblock.lippoutou-bg {
  background-color: #d3f3f8;
  transition: all 0.3s ease;
}
#pokemonblock.lippoutou-bg:hover {
  background-color: #98ebf8;
}
#pokemonblock.clamiral-bg {
  background-color: #729dfb;
  transition: all 0.3s ease;
}
#pokemonblock.clamiral-bg:hover {
  background-color: #447fff;
}
#pokemonblock.voltali-bg {
  background-color: #ffffae;
  transition: all 0.3s ease;
}
#pokemonblock.voltali-bg:hover {
  background-color: #ffff70;
}
#pokemonblock.boustiflor-bg {
  background-color: rgb(192, 255, 192);
  transition: all 0.3s ease;
}
#pokemonblock.boustiflor-bg:hover {
  background-color: rgb(138, 255, 138);
}
#pokemonblock.arcanin-bg {
  background-color: rgb(255, 149, 149);
  transition: all 0.3s ease;
}
#pokemonblock.arcanin-bg:hover {
  background-color: rgb(241, 89, 89);
}
#pokemonblock.limonde-bg {
  background-color: rgb(255, 215, 134);
  transition: all 0.3s ease;
}
#pokemonblock.limonde-bg:hover {
  background-color: rgb(221, 172, 73);
}
